## Credit card fraud pridiction

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.shape

(284807, 31)

In [4]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [8]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [9]:
# since we have 492 fraud we use (under sampling) because we have lot of immbalance in our data no of fraud are too less than succesfull transaction
legit_sample=legit.sample(n=492)

In [10]:
# concat under sampler and fraud
new_df=pd.concat([legit_sample,fraud],axis=0)

In [11]:
new_df.shape

(984, 31)

In [12]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
71895,54485.0,1.273713,-0.487969,0.625643,-0.114437,-0.748633,0.418807,-0.963629,0.364963,1.056952,...,0.017693,0.088578,-0.153331,-0.805332,0.267603,1.171708,-0.053748,-0.012567,1.00,0
246942,153396.0,-0.420945,0.456214,-0.074940,-0.656400,1.118082,-0.847962,0.966172,-0.249998,-0.045321,...,-0.314870,-0.587227,0.387806,-0.703791,-0.260901,0.186790,0.180640,0.040675,6.99,0
239076,149946.0,-0.404184,0.785845,0.709725,-0.612580,0.703825,-1.099587,1.094726,-0.340571,-0.434312,...,-0.232627,-0.588826,0.046757,0.076894,0.039458,0.195505,-0.162924,-0.011089,1.29,0
74198,55467.0,-0.347283,0.049398,1.358540,-0.218636,0.011220,-0.529534,0.802461,-0.155222,0.216421,...,0.162503,0.646034,0.190176,0.574111,-0.989186,0.126922,-0.006685,0.001340,74.87,0
197409,132003.0,1.886444,-0.159089,-0.241206,1.374205,-0.510501,-0.497349,-0.300405,-0.055610,0.845470,...,-0.191524,-0.490995,0.368374,-0.091082,-0.409870,-0.981065,0.051177,-0.020213,36.50,0

In [13]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [14]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [15]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94914.428862,-0.039124,-0.066380,0.156111,0.017067,0.069744,0.029828,-0.107643,-0.078468,0.001525,...,-0.016491,-0.038309,0.015218,0.037950,0.006059,-0.027103,-0.016169,-0.014921,0.007634,72.333679
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Spliting the data into features and target

In [16]:
X=new_df.drop(columns='Class',axis=1)
Y=new_df['Class']

In [17]:
print(X)
print(Y.value_counts())

            Time        V1        V2        V3        V4        V5        V6  \
71895    54485.0  1.273713 -0.487969  0.625643 -0.114437 -0.748633  0.418807
246942  153396.0 -0.420945  0.456214 -0.074940 -0.656400  1.118082 -0.847962
239076  149946.0 -0.404184  0.785845  0.709725 -0.612580  0.703825 -1.099587
74198    55467.0 -0.347283  0.049398  1.358540 -0.218636  0.011220 -0.529534
197409  132003.0  1.886444 -0.159089 -0.241206  1.374205 -0.510501 -0.497349
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
71895  -0.963629  0.364963  1.056952  ... -0.163605  0.017693  0.088578
246942  0.966172 -0.249998 -0.045321  ... -0.033250 -0.314870 -0.587227
239076  1.094726 -0.340571 -0.434312  ... -0.093126 -0.232627 -0.588826
74198   0.802461 -0.155222  0.216421  ...  0.046966  0.162503  0.646034
197409 -0.300405 -0.055610  0.845470  ... -0.201894 -0.191524 -0.490995
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
71895  -0.153331 -0.805332  0.267603  1.171708 -0.053748 -0.012567    1.00
246942  0.387806 -0.703791 -0.260901  0.186790  0.180640  0.040675    6.99
239076  0.046757  0.076894  0.039458  0.195505 -0.162924 -0.011089    1.29
74198   0.190176  0.574111 -0.989186  0.126922 -0.006685  0.001340   74.87
197409  0.368374 -0.091082 -0.409870 -0.981065  0.051177 -0.020213   36.50
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
0    492
1    492
Name: Class, dtype: int64

## Spliting the data into training and testing set

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2,stratify=Y)

In [19]:
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(787, 30) (787,) (197, 30) (197,)

## Model Training

In [20]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [21]:
from sklearn.metrics import accuracy_score

X_train_predict = model.predict(X_train)
training_accuracy = accuracy_score(X_train_predict,Y_train)

In [22]:
print(training_accuracy)

0.940279542566709

In [23]:
## cheking Accuracy on Test Set

In [24]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [25]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9238578680203046

In [26]:
from joblib import dump ,load
dump(model,'fraud_predictor.joblib')

['fraud_predictor.joblib']